################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/TransFormat/bin/Debug/netstandard2.0
/WebApplication1
